@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


  html, body {
    height: 100%;
    overflow: hidden;
  }

  .middle-section::-webkit-scrollbar {
    width: 6px;
  }

  .middle-section::-webkit-scrollbar-thumb {
    background: #94a3b8; /* slate-400 */
    border-radius: 9999px;
  }


.content {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}